# Base URL of the backend API
NEXT_PUBLIC_API_URL=http://localhost:5000

# Site URL for SEO and Sitemap
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# API base URL for internal server fetches
API_BASE_URL=http://localhost:5000
